<div class="container">
  <div class="navbar-fixed-top">
    <div *ngFor="let u of useronline">
      <span>{{u.listonline}} join {{u.timeonline}}</span>
    </div>
  </div>
  <div class="container chatbox">
    <div class="row" *ngFor="let m of msg">
      <div class="col-2 user">{{m.user}} </div> <div class="col-10 msg"> {{m.msg}}</div>
    </div>
  </div>
  <div class="row input-msg">
    <input class="col-11" [(ngModel)]="msgnew">
    <button class="col-1" (click)="sendToServer($event)">Send</button>
  </div>
</div>








